<button type="button" class="btn btn-primary" (click)="openModal()">
    <i class="bi bi-plus-circle-fill"></i>
    Nouveau Region
</button>
<div class="row justify-content-center mt-5">
    <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Ajout Regions</h4>
                    <button type="button" class="btn btn-default" arialabel="Close" (click)="closeModal() "><span ariahidden="true">&times;</span></button>
                </div>
                <div class="justify-content-center">
                    <form [formGroup]="regionForm" (ngSubmit)="onSubmit()">

                <div class="mb-4">
                    <label class="form-label"> Name  </label>
                    <input type="text" class="form-control" formControlName="name" required >
                </div>
                <div class="mb-4">
                    <label class="form-label">Image</label>
                    <input type="text" class="form-control" formControlName="image" required>
                </div>
                <div class="mb-4">
                    <label   class="form-label">Description</label>
                    <input type="text" class="form-control" formControlName="description" >
                </div>
                <div class="mb-4">
                    <label   class="form-label">Score</label>
                    <input type="text" class="form-control" formControlName="score" >
                </div>
                <div class="mb-4"> 
                    <button type="submit" class="btn btn-primary">Enregistrer</button>
                </div>
        </form>
        
    </div>
</div>
