<button type="button" class="btn btn-primary" (click)="openModal()">
    <i class="bi bi-plus-circle-fill"></i>
    Nouveau Hotel
</button>
<div class="row justify-content-center mt-5">
    <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Ajout Hotel</h4>
                    <button type="button" class="btn btn-default" arialabel="Close" (click)="closeModal() "><span ariahidden="true">&times;</span></button>
                </div>
    <div class="justify-content-center">
        <div style="height: 400px; overflow-y: auto;">
        <form [formGroup]="hotelForm"(ngSubmit)="onSubmit()" >
                <div class="mb-4">
                    <label class="form-label">Name  </label>
                    <input type="text" class="form-control" formControlName="name" required >
                </div>
                <div class="mb-4">
                    <label class="form-label"> Description </label>
                    <input type="text" class="form-control" formControlName="description" required>
                </div>
                <div class="mb-4">
                    <label   class="form-label">Image</label>
                    <input type="text" class="form-control" formControlName="image" >
                </div>
                <div class="mb-4">
                    <label   class="form-label">Email</label>
                    <input type="text" class="form-control" formControlName="contact_email" >
                </div>
                <div class="mb-4">
                    <label   class="form-label">City</label>
                    <input type="text" class="form-control" formControlName="city" >
                </div>
                <div class="mb-4">
                    <label   class="form-label">Phone Number</label>
                    <input type="text" class="form-control" formControlName="contact_phone" >
                </div>
                <div class="mb-4">
                    <label   class="form-label">Promotion</label>
                    <input type="text" class="form-control" formControlName="promotion" >
                </div>
           <div class="mb-4">
                <label   class="form-label">Review</label>
                <input type="text" class="form-control" formControlName="review" >
            </div>    <div class="mb-4">
                <label   class="form-label">Price</label>
                <input type="text" class="form-control" formControlName="price" >
            </div> 
                <div class="mb-4"> 
                    <button type="submit" class="btn btn-primary">Enregistrer</button>
                </div>
        </form>
        
    </div>
</div>
